<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>ADMIN LOGIN</title>
      <link rel="stylesheet" href="/css/adminstyle.css">
   </head>
   <body>
      <div class="wrapper">
         <div class="title">
           Admin Login
         </div>
         <form action="/admin" method="post">
            <div class="field">
               <input type="text" name="adminid" required>
               <label>Admin Id</label>
            </div>
            <div class="field">
               <input type="password" name="passw" required>
               <label>Password</label>
            </div>
            <div class="content">
               <div class="pass-link">
                  <a href="#">Forgot password?</a>
               </div>
            </div>
            <div class="field">
               <input type="submit" value="Login">
            </div>
            
         </form>
      </div>
   </body>
</html>