<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>ADMIN add Projects</title>
      <link rel="stylesheet" href="/css/adminstyle.css">
   </head>
   <body>
      <div class="wrapper">
         <div class="title">
           ADMIN ADD Project
         </div>
         <form action="/addp" method="post">
            <div class="field">
               <input type="text" name="pid" required>
               <label>Projects Id</label>
            </div>
            <div class="field">
               <input type="submit" value="ADD">
            </div>
            
         </form>
      </div>
   </body>
</html>